h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

h1,
h2 {
  font-weight: normal;
}

input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #707070;
}

label {
  margin: 0;
}

.btn-link-login {
  color: #707070;
  transition: all 0.3s;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-link-login:hover {
  color: #ae94c6;
}
