body {
  background: #ededed;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

p {
  margin: 0;
}

#left-bar-menu {
  margin-left: auto;
  margin-right: 22px;
}

#menu-lateral {
  padding: 0;
  width: 100%;
  text-align: center;
}

#menu-lateral li {
  font-weight: bold;
  padding: 1rem;
  text-transform: uppercase;
}

#menu-lateral li a {
  color: #000;
  transition: color 0.3s;
}

#menu-lateral li a:hover {
  color: #ae94c6;
  text-decoration: none;
}

.border {
  border-color: #707070 !important;
}

.btn:focus {
  box-shadow: none;
}

.btn-custom {
  transition: all 0.3s;
  border-radius: 50%;
  padding: 10px;
  width: 60px;
  height: 60px;
}

.btn-custom:hover {
  background: #cecece;
}

.content {
  margin: 0 100px;
}

.hand-over:hover {
  cursor: pointer;
}

.left-0 {
  left: 0 !important;
}

.left-bar {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  transition: left 0.3s, top 0.3s;
  position: absolute;
  top: 0;
  left: calc(100px - 50%);
  z-index: 5;
  background: #ededed;
  height: 100vh;
}

.right-bar {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  background: #ededed;
  height: 100vh;
}

.top-0 {
  top: 0 !important;
}

::selection {
  background: #707070;
  color: #fff;
}

@media (max-width: 992px) {
  #area-menu-lateral {
    padding: 1rem 0;
  }

  .content {
    margin: 68px 0 100px 0;
  }

  .left-bar {
    position: fixed;
    top: -300px;
    left: 0;
    width: 100%;
    height: auto;
  }

  .right-bar {
    width: 100% !important;
    height: 100px;
    position: fixed;
    bottom: 0 !important;
    margin-top: auto;
  }
}
